.DataForm {
  display: flex;
  flex-direction: row;
  min-width: 500px;
  max-width: 80%;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  margin: 15px auto;
  font-size: 18px;
  text-decoration: underline;
}

.Results {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
.ButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.DeleteButton {
  width: 120px;
  height: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: red;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 1350ms, opacity;
}
.DeleteButton:hover {
  opacity: 0.7;
  background: rgba(102, 0, 0, 0.685);
  transition-duration: 1350ms;
}
